.container-navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: rgba(65, 0, 116, 0.65);
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    z-index: 999;
    font-family: 'Chakra Petch', sans-serif;
    font-size: max(16px, 1vw);
}

.navbar-logo{
    width: 50px;
    height: 50px;
    margin: 10px 20px;
}

.navbar-logo img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 #0000002d;
}

.navbar-link{
    display: flex;
    align-items: center;
    margin: 10px 20px;
}

.navbar-link a{
    margin: 0px 10px;
    transition-duration: 0.5s;
    border: 1px solid #cc89ff67;
    border-radius: 5px;
    padding: 5px 15px;
    box-shadow: 0 5px 15px 0 #0000002d;
    color: #f5f5f5aa;
}

.navbar-link a:hover{
    padding: 10px 25px;
    background-color: #9000ff6c;
    border-radius: 5px;
    transition-duration: 0.5s;
    color: #F5F5F5;
}

.home-background{
    background-image: url("../assets/background_home.jpg.webp");
    background-size: cover;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-box-titulo{
    width: 80%;
    height: auto;
    margin: 10px;
    border-radius: 15px;
    border: 0.5px solid #cc89ff67;
    background: rgba(65, 0, 116, 0.65);
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5F5F5;
}

.home-box-titulo label{
    font-size: min(50px, 6vw);
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    margin: 100px 20px;
}

.home-rodape{
    display: flex;
    justify-content: center;
}

.home-rodape-desc{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #410074;
}

.home-rodape-desc label{
    margin: 50px;
    font-size: max(20px, 2vw);
}

.container-guias-montagem{
    margin: 100px 0px;
}

.cabecalho-guias-montagem{
    position: relative;
    margin-bottom: 100px;
}

.linha-vertical{
    position: absolute;
    width: 2px;
    height: 100%;
    margin-left: 40px;
    background: linear-gradient(270deg, #CB89FF 0%, #410074 50%);
}

.titulo-guias-montagem{
    color: #410074;
    font-family: 'Chakra Petch', sans-serif;
    margin: 0px 55px;
    font-size: max(25px, 3vw);
}

.cabecalho-guias-montagem p{
    color: #171717;
    margin: 15px 55px 0px 55px;
}

.container-tutorial{
    background-image: url("../assets/wallpaper-cards.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 20px;
}

.container-tutorial p{
    margin-left: 20px;
}

.container-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 10px;

}

.card-superior{
    width: 250px;
    height: 200px;
    background-image: url("../assets/capa-card-superior.png");
    background-size: contain;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.146);
    border: 0.5px solid #cc89ff3c;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-glass{
    width: 100%;
    height: 100%;
    background: #f5f5f55a;
    backdrop-filter: blur(2px);
    border-radius: 5px 5px 0px 0px;
}

.card-superior label{
    margin-bottom: 10px;
}

.card-superior i{
    position: absolute;
    padding: 20px;
    font-size: max(40px, 2vw);
    border-radius: 50%;
    background: #b945fc;
    box-shadow: inset 20px -20px 40px #410074,
            inset -20px 20px 40px #CB89FF;
}

.container-card button{
    width: 250px;
    background: #b945fc65;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.146);
    backdrop-filter: blur(10px);
    outline: none;
    border-radius: 0px 0px 5px 5px;
    color: #F5F5F5;
    border: 0.5px solid #cc89ff3c;
    font-size: max(16px, 1vw);
    font-family: 'Chakra Petch', sans-serif;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.25);
    padding: 15px 5px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
   
.container-card button::before {
    content: '';
    width: 0;
    height: 55px;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #410074;
    transition: .5s ease;
    display: block;
    z-index: -1;
    color: #CB89FF;
   }
   
   button:hover::before {
    width: 250px;
   }

.card-video{
    width: 300px;
    height: 150px;
}

.card-video iframe{
    border-radius: 10px;
    border: 1px solid #cc89ff2e;
    background: #410074;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.25);
}

.card label{
    width: 260px;
    padding: 15px 5px;
    border-radius: 10px;
    border: 1px solid #cc89ff3a;
    background: #410074;
    text-align: center;
    font-size: max(16px, 1vw);
    font-family: 'Chakra Petch', sans-serif;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.25);
    padding: 15px 20px;
    margin-top: 10px;
}

footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #410074;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.4em;
    z-index: 998;
}

footer i{
    padding: 4px 7px;
    background-color: #F5F5F5;
    color: #410074;
    border-radius: 5px;
}

footer div{
    margin-left: 10px;
}