.container-navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px 0 #0000002d;
    position: fixed;
    background-color: #410074;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    z-index: 999;
    font-family: 'Chakra Petch', sans-serif;
}

.navbar-logo{
    width: 50px;
    height: 50px;
    margin: 10px 20px;
}

.navbar-logo img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 #0000002d;
}

.navbar-link{
    display: flex;
    align-items: center;
    margin: 10px 20px;
}

.navbar-link a{
    margin: 0px 10px;
    transition-duration: 0.5s;
    border: 1px solid #cc89ff67;
    border-radius: 5px;
    padding: 5px 15px;
    box-shadow: 0 5px 15px 0 #0000002d;
    color: #f5f5f5aa;
}

.navbar-link a:hover{
    padding: 10px 25px;
    background-color: #9000ff6c;
    border-radius: 5px;
    transition-duration: 0.5s;
    color: #F5F5F5;
}